{% extends "core/layout.html" %}
{% load static %}

{% block head %}
        <link rel="stylesheet" href="{% static 'seat-signal/seat_signal.css' %}">
        <link rel="stylesheet" href="{% static 'core/forms.css' %}">
        <script src="{% static 'seat-signal/seat_signal.js' %}" defer></script>
{% endblock %}

{% block body %}
<div class="signal-page">
    <!-- <strong>seat_signal!!!</strong> <br>
    Form to test inputs to watch_course: <br>
    <form action="{% url 'watch_course' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="crn" placeholder="crn">
        <input type="text" name="contact_method" placeholder="contact_method (call, text, or both?)">
        <input type="submit" value="Test">
    </form> -->
    <template id="signal-form-tpl">
        <div class="signal-element profile-box">
            <!-- real form fields go here -->
            <input type="text" name="crn" placeholder="crn">
            <input type="text" name="contact_method" placeholder="contact_method (call, text, or both?)">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Start Watching Seats</button>
            </div>
        </div>
    </template>

    <div class="add-button"><span>+</span></div>

        

</div>
{% endblock %}

