{% extends "core/layout.html" %}
{% load static %}

{% block head %}
        <link rel="stylesheet" href="{% static 'seat-signal/seat_signal.css' %}">
        <script>
            window.watchCourseUrl = "{% url 'watch_course' %}";
            window.csrftoken = "{{ csrf_token }}";
        </script>
        <script defer src="{% static 'seat-signal/seat_signal.js' %}" defer></script>
{% endblock %}

{% block body %}
<div class="signal-page">
    <!-- <strong>seat_signal!!!</strong> <br>
    Form to test inputs to watch_course: <br>
    <form action="{% url 'watch_course' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="crn" placeholder="crn">
        <input type="text" name="contact_method" placeholder="contact_method (call, text, or both?)">
        <input type="submit" value="Test">
    </form> -->

    <div class="profile-box d-none" id="signal-form">
        <div id="message"></div>

        <select id="sem-selection">
            <option value="">-- Semester --</option>
            {% for sem_id, sem_label in recent_sems %}
                <option value="{{ sem_id }}">{{ sem_label }}</option>
            {% endfor %}
        </select>

        <select id="code-selection">
            <option value="">-- Course Code --</option>
            {% for code in codes %}
                <option value="{{ code }}">{{ code }}</option>
            {% endfor %}
        </select>

        <select id="section-selection">
            <option value="">-- Section # --</option>
            {% for section in sections %}
                <option value="{{ section }}">{{ section }}</option>
            {% endfor %}
        </select>

        <!-- Currently no backend for texting; calling is the only option for now-->
        <!-- <div class="selection-control" id="contact-method-selection">
            <label for="call-check">
                <input type="checkbox" name="call-check" value="true">
                Call me
            </label>
            <label for="text-check">
                <input type="checkbox" name="text-check" value="true">
                Text me
            </label>
        </div> -->

        <div class="form-group">
            <button type="submit" class="btn btn-primary start">Watch Course</button>
        </div>
    </div>

    <div class="add-button"><span>+</span></div>    

</div>
{% endblock %}

