{% extends "core/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/core/index.css' %}">
{% endblock %}

{% block body %}
    <header class="hero-header"></header>
    <div class="homepage-text">
        <strong>homepage!!! welcome {{ user }}</strong>
        <div id="tos">
            <h1>Terms of Service & Privacy Policy</h1>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        
    </div>
    

{% endblock %}