{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}C@B Utilities{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static '/core/navbar.css' %}">
        <link rel="icon" href="data:,">
        {% block head %}
        {% endblock %}

    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="https://cab.brown.edu/" title="Quick link to C@B itself!">
                    <strong class="brand-cab">COURSES @ BROWN</strong> 
                </a>
                <span class="brand-utilities">Utilities</span>
            </div>
            <div class="navbar-apps">
                <a href="{% url 'index' %}">Home</a>
                <a title="Get notified by call when a course seat opens" href="{% url 'seat_signal' %}">SeatSignal</a>
                <a title="Visualize prerequisites and quantify value" href="">PrereqMap</a>
                <a title="Which semesters courses were offerred in the past" href="">Offering Patterns</a>
                <a title="External site for course reviews" href="https://www.thecriticalreview.org/">Critical Review</a>
            </div>
            <div class="navbar-users">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">My Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>