{% extends "core/layout.html" %}

{% block body %}
    {% if message %}
        <div class="message">
            {{ message }}
        </div>
        
    {% endif %}
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        Username:
        <input type="text" name="username" placeholder="e.g. CPax">
        Password:
        <input type="password" name="password" placeholder="e.g. 12345 (jk)">
        Confirm Password:
        <input type="password" name="confirm_password" placeholder="dont actually use 12345">
        Phone number:
        <input type="tel" name="phone_number">
        <input type="submit" value="Register">
    </form>
{% endblock %}