{% extends "core/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/core/profile.css' %}">
    <link rel="stylesheet" href="{% static '/core/forms.css' %}">

{% endblock %}

{% block body %}
<div class="profile-page">
    <div class="profile-box">
        <div class="panel-header">Register</div>
        {% if message %}
            <div class="message">
                {{ message }}
            </div>
            
        {% endif %}
        <form class="profile-form" action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name-field">Username</label>
                <input class="form-control" id="name-field" type="text" name="username" placeholder="e.g. CPax">
            </div>
            <div class="form-group">
                <label for="password-field">Password</label>
                <input class="form-control" id="password-field" type="password" name="password" placeholder="e.g. 12345 (jk)">
                <small class="form-text text-muted">Do not use a password you've used elsewhere.</small>
            </div>
            <div class="form-group">
                <label for="conf-password-field">Confirm Password</label>
                <input class="form-control" id="conf-password-field" type="password" name="confirm_password" placeholder="dont actually use 12345">
            </div>
            <div class="form-group">
                <label for="num-field">Phone Number</label>
                <input class="form-control" id="num-field" type="tel" name="phone_number">
                <small class="form-text text-muted">I will never share your phone number; required for course seat notifications by call/text.</small>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        I agree to the <a href="{% url 'index' %}#tos" target="_blank">Terms of Service & Privacy Policy</a>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}