
/* Card */
.profile-box {
    max-width: 430px;
    max-height: 100vh;
    width: 100%;
    overflow-y: auto;

    padding: 8px 35px 12px;
    background: var(--bg-panel);
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);

    display: flex;
    flex-direction: column;
}

/* Card Header */
.panel-header {
    background: var(--brand-maroon);
    color: #fff;
    font: 200 1.6rem/1.1 "comfortaa";
    padding: 1rem 1rem 0.5rem;
    margin: -10px -35px 20px; 
    border-radius: 0;
}

/* Form Layout */
.profile-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}

.form-group {
    margin-bottom: 0.3rem;
}

.form-check {
    margin: -0.4rem 0;
}

/* Inputs */
.form-control {
    height: 42px; 
    background: #fff;
    border: 1px solid var(--border-input);
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1.05rem;
    color: var(--text-main);
}

.form-control::placeholder {
    color: var(--placeholder);
    opacity: 0.5;
}

.form-control:focus::placeholder { color: transparent; }

.form-control:focus {
    border-color: #2684ff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(38, 132, 255, .25);
}

/* Helper Text */
.message {
    color: red;
    text-align: center;
}

.text-muted {
    color: var(--text-main);
    font-size: 0.9rem;
}

/* Button */
.btn-primary {
    background: var(--brand-maroon);
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 0.9rem 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: auto; /* stick to bottom of card */
}

.btn-primary:hover,
.btn-primary:focus {
    background: var(--brand-maroon-hover);
}

.edit-button {
    margin-top: 2rem;
    color: var(--brand-maroon);
    border-color:  var(--brand-maroon);
}

.edit-button:hover {
    color:white;
    background-color: var(--brand-maroon);
    border: var(--brand-maroon);
}

/* ---------- Checkbox ---------- */
.form-check-label {
    font-weight: normal !important;
}
