.hero-header {
  /* fill the viewport */
  height: 100vh;
  width: 100%;

  /* background image settings */
  background-image: url("https://i.imgur.com/By6zr76.png");
  background-size: 100% 100%;
  background-position: center;

  position: relative
}

.homepage-text {
    background-color: #624026;
}