.hero-header {
  /* fill the viewport */
  height: 100vh;
  width: 100%;

  /* background image settings */
  background-image: url("https://cdn.discordapp.com/attachments/388721642722820096/1391657633655685120/ChatGPT_Image_Jul_7_2025_01_50_29_AM.png?ex=686cb1ab&is=686b602b&hm=739d11d6cc101c2d687da5fec1f9a43e53a38192a76955d37d4012eb4be6a392&");
  background-size: cover;
  background-position: center;

  position: relative
}

.homepage-text {
    background-color: #eeece7;
}