@import url("/static/core/variables.css");

/* Base Layout*/
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* Page Background */
.profile-page {
    width: 100vw;
    height: 100vh;

    background-color: var(--placeholder);
    background-image: url("https://i.imgur.com/zAjaPB2.png");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}


.btn:focus,
.btn:active,
.btn.active {
    box-shadow: var(--brand-maroon) !important;
    outline: none !important;
}