@import url("/static/core/variables.css");

/* Base Layout*/
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* Page Background */
.profile-page {
    width: 100vw;
    height: 100vh;
    background: url("https://media.discordapp.net/attachments/388721642722820096/1392020026948845649/ChatGPT_Image_Jul_8_2025_01_50_31_AM.png?ex=686e032c&is=686cb1ac&hm=7e48820b60b5a7ca64adef000a2a7aab7515d131c7aeaf5f5531ab8f4b115852&=&format=webp&quality=lossless&width=1577&height=1052")
                center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}


.btn:focus,
.btn:active,
.btn.active {
    box-shadow: var(--brand-maroon) !important;
    outline: none !important;
}